* {
    padding: 0;
    margin: 0;
    font-family: monospace;
    
}

#root {
    margin-right: 125px;
    margin-left: 125px;
}

.options_menu {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: monospace;
    font-size: 60px;
    margin-top: 50px;
    
}

.title h1 {
    display: flex;
    align-content: center;
    margin-top: 50px;
}


.menuB button {
    width: 100px;
    height: 30px;
    display: inline;
    margin: 20px;
    position: relative;
    z-index: 6;
    border: 0;
    background-color: transparent;
    margin-top: -15px;
}

.menuB button:hover {
    background-color: black;
    color: white;
}

footer {
    background: white;
}

/* seccion copiada desde nathy */
body {
    height: 200px;
}
/*main*/
main {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
