@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: monospace;
    
}
body {
    width: 100vw;
    max-height: 100%;
    background-color: rgb(95, 92, 92);
    background-image: linear-gradient(180deg,rgb(2, 8, 89), #062448, #0d4b97,#236dc7 , #00d4ff)
    
}

/* #root {
    margin-right: 125px;
    margin-left: 125px;
    
    
} */
/* contenedor del menu */
/* padre */
.main__header--title-options {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('https://res.cloudinary.com/dtaq1ip2g/image/upload/v1645114044/wallpaperbetter_aaylbv.jpg');
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    box-shadow: 0px 0.5px 10px rgb(238, 231, 231);
      
   

}
/* hijos */
.main__header--title {
    /* background-color: yellowgreen; */
    margin: 50px;
    display: block;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;
    font-size: 20px;
    margin-top: 10px;
    
    
}

.main__header--title img{
  /* padding: 10px 10px 12px 45px; */
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 50px;
  justify-content:  baseline; 
}

.main__header--options {
  background-color: transparent;
  margin: 20px;
  justify-content: space-around;
  color: rgb(43, 171, 209);
}

.main__header--options-button {
  justify-content: space-between;
  align-content: space-between;
  padding: 5px;
  margin: 20px;
  border: 0 0 0;
  font-family: 'Balsamiq Sans', cursive;
  border-radius: 10px;
  background-color: transparent;
  font-size: 18px;
  /* background-color: black; */
  color: white;
  box-shadow: 0px 0.5px 10px rgb(238, 231, 231);
  transition: all 200ms ease-out;
  cursor: pointer;
}
.main__header--options-button i {
  background-color: transparent;
  color: white;
  padding: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 12px -2px rgba(31, 31, 31, 0.75);
  -moz-box-shadow: 0px 2px 12px -2px rgba(31, 31, 31, 0.75);
  box-shadow: 0px 2px 12px -2px rgba(31, 31, 31, 0.75);
  font-size: 20px;
}
.main__header--options-button:hover {
  background-color: rgb(106, 151, 218) !important;
  color: white;
  padding: 1px;
}

/*Select*/
.orderPeliculas {
  padding: 5px;
  background-color: transparent;
  color: white;
  width: 28%;
  border: 0 0 0;
  font-size: 18px;
  font-family: 'Balsamiq Sans', cursive;
  align-content: center;
  justify-content: center;
  margin-left: 50px;
  border-radius: 10px;
  margin: 25px;
  margin-bottom: 55px;
  box-shadow: 0px 0.5px 10px rgb(238, 231, 231);
  transition: all 200ms ease-out;
  cursor: pointer;
}


.orderPeliculas:hover{
  background-color: rgb(106, 151, 218) !important;
  color: white;
  /* transition: all 200ms ease-out;
  cursor: pointer; */
}


/*verificar esta seccion !!!!!!!!!!!!!!!!OJOOO*/
.main__card--peliculas {
    color: white;
    padding: 30px;
    display: none;
}

#main__card--peliculas-select {
    display: flex;
    background-color: #062448;
    width: 750px;
    height: 230px;
    border-style:outset ;
    border-color: #062448;
    border-width: 5px;
}

.list-personaje {
  color: white;
  background-color: red;
  height: 10px;
  padding: 50px;
}

.main__header--options {
    background-color: transparent;
    margin: 20px;
    justify-content: space-around;
    color: rgb(43, 171, 209);
    
 
    
}

.main__header--options-button {
   justify-content: space-between;
   align-content: space-between;
   padding: 5px;
   margin: 20px;
   border: 0 0 0;
   font-family: 'Balsamiq Sans', cursive;
   border-radius: 10px;
   background-color: transparent;
   font-size: 15px;
   /* background-color: black; */
   color: white;
   box-shadow: 0px 0.5px 10px rgb(238, 231, 231);
   transition: all 300ms ease-out;
   cursor: pointer;
}

.main__header--options-button:hover{
    background-color: rgb(106, 151, 218) !important; 
    color: white;
    padding: 10px;
}

/* Section cards // main listo */

main { 
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
   
}
/* flex padre */
.flex-container {
    display: grid;
 
    column-gap: 50px;
    margin: auto;
    width: 800px;
    /* background-color: chartreuse; */
    width: auto;
   
      
    
}

/* .flex-items {
    display: block;
    margin: 80px;
    align-content: center;
} */

#template--cards {
    margin-bottom: 30px;
    width: 130px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: aliceblue;
    font-size: 15px;
    
    /* justify-content: center;
    align-items: center; */
} 

#images {
    width: 100%;
    border-radius: 10px;
    
}

#main__body--peliculas-cards{
    
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.159);
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  */
    width: 90%; 
    height: 50%;
    justify-content: space-around;
    align-items: flex-start;
    /* grid-gap: 10px; */
    visibility: visible;
    margin: auto;
    
}

.list-personaje{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.159);
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  */
    width: 90%; 
    height: 80%;
    justify-content: space-around;
    align-items: center;
    /* grid-gap: 10px; */
    /* visibility: visible; */
    margin: auto;    
}

.prueba-personajes img {
    width: 250px;
    height: 200px;

}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 20px;
    margin-top: 100px;
    height: 15%;
    border: 2px solid rgb(0, 153, 255);
    /* border-radius: 25px; */
    box-shadow: 0px 0.5px 10px #00d4ff;
        
}

footer ul{
    display: flex;
    justify-content: space-around;
  }
  
  footer ul li{
  padding: 15px;
  font-size: 20px;
  list-style: none;
  }

i{
    background-color: honeydew;
    padding: 10px;
    border-radius: 50%;
    
    -webkit-box-shadow: 0px 2px 12px -2px rgba(31, 31, 31, 0.75);
    -moz-box-shadow: 0px 2px 12px -2px rgba(31, 31, 31, 0.75);
    box-shadow: 0px 2px 12px -2px rgba(31, 31, 31, 0.75);
    font-size: 20px;
  }
  .fa-facebook{
    color: #1877f2;
  }
  
  .fa-instagram{
    color: #e1306c;
  }
  
  .fa-twitter{
    color: #1da1f2;
  }
  
  .fa-linkedin{
    color: #0072b1;
  }
  .mail{
    font-size: 20px;
   
  }
  .container_mail li{
    list-style: none;
  }
  
  .container_mail a{
    text-decoration: none;
    
  }
  .container_mail span{
    color: rgb(11, 2, 87);
    font-weight: 700;
    border-bottom: 1px solid grey;
  }


.main__body--personajes {
    color: white;
    padding: 30px;
    display: none;
}

  .checkbox {
    padding: 30px;
    color: white;
    display: none;
  }


  .orderPeliculas {
    width: 100px;
    justify-content: center;
    margin-left: 50px;

  }

.flex-items--filter {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.159);
  width: 90%; 
  height: 80%;
  justify-content: space-around;
  align-items: center;
    
}
    
  
/* 

#main__body--peliculas-cards{
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 800px; 
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    visibility: visible;
}

#main__body-raking {
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 800px; 
    justify-content: center;
    align-items: center;
    grid-gap: 20px;  
}


#main__body--welcome {
    background-color: crimson;
    width: 100%;
    height: 10%;
    visibility: visible;
} 

 */
